In [1]:
from sklearn.linear_model import LogisticRegression
from mixture_of_logistic_models import MixtureOfLogits
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_table('mountain_car_demo.txt', sep=' ', header=0,names=['pos', 'vel', 'action', 'reward'], skiprows=1, index_col=False)
data

           pos       vel  action  reward
0    -0.422633 -0.001758     0.0    -1.0
1    -0.426137 -0.003504     0.0    -1.0
2    -0.431361 -0.005225     0.0    -1.0
3    -0.438269 -0.006908     0.0    -1.0
4    -0.446809 -0.008541     0.0    -1.0
...        ...       ...     ...     ...
1247  0.344660  0.035769     2.0    -1.0
1248  0.380151  0.035491     2.0    -1.0
1249  0.415599  0.035448     2.0    -1.0
1250  0.451251  0.035652     2.0    -1.0
1251  0.487364  0.036114     2.0    -1.0

[1252 rows x 4 columns]

In [3]:
demos  = pd.read_table('mountain_car_demo.txt',header=None,sep=' ', nrows=1)
demos = demos.drop(13, axis=1)
data['demo'] = 0
demos[0] -=1
cnt = 0
for column in demos.columns:
    for i in range(cnt, cnt+demos[column][0]):
        data.at[i, 'demo'] = column
        if column in [0, 5, 6]:
            if data.at[i, 'action'] == 0:
                data.at[i, 'action'] = 2
            else:
                data.at[i, 'action'] = 0
    cnt += demos[column][0]

In [4]:
#data = data.drop(1252, axis=0)

In [5]:
data[data['demo'] ==0]

         pos       vel  action  reward  demo
0  -0.422633 -0.001758     2.0    -1.0     0
1  -0.426137 -0.003504     2.0    -1.0     0
2  -0.431361 -0.005225     2.0    -1.0     0
3  -0.438269 -0.006908     2.0    -1.0     0
4  -0.446809 -0.008541     2.0    -1.0     0
..       ...       ...     ...     ...   ...
80  0.389118  0.023122     0.0    -1.0     0
81  0.412258  0.023140     0.0    -1.0     0
82  0.435579  0.023321     0.0    -1.0     0
83  0.459247  0.023668     0.0    -1.0     0
84  0.483435  0.024188     0.0    -1.0     0

[85 rows x 5 columns]

In [6]:
demos = [
    [0, 84],
    [85, 190],
    [191, 293],
    [294, 398],
    [399, 487],
    [488, 591],
    [592, 693],
    [694, 777],
    [778, 867],
    [868, 954],
    [955, 1057],
    [1058, 1146],
    [1147, 1251]
]

X = np.array(
    [
        [
            x[0], x[1],1
        ]
        for x in data.drop(['reward', 'action', 'demo'], axis=1).to_numpy()
    ]
)
y = data['action'].to_numpy()

In [7]:
np.unique(y)

array([0., 1., 2.])

In [8]:
model = MixtureOfLogits(alpha=0.01).fit(X, y, demos)

In [9]:
model1, model2 =  model.result()